body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f5f7fa;
  font-family: "Montserrat", Arial, sans-serif;
}

.cv {
  margin: 10px;
}
.cv_wrapper {
  display: flex;
  flex-direction: row;
}

/* Left Side */
.cv_left-side {
  display: flex;
  flex-direction: column;
  border-left: #161e27 1px solid;
  border-radius: 8px 0 0 8px;
  /* max-width: 250px; */
  /* width: 25%; */
  background: #161e27;
  color: #fff;
  padding: 15px 25px 15px 25px;
}
.cv_my-photo {
  background-image: url("../images/me_3!.jpg");
  background-size: cover;
  background-position: center center;
  width: 150px;
  /* width: 50%; */
  height: 150px;
  border-radius: 100px;
  align-self: center;
  margin: 25px 0 0 0;
}

.cv_head {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #e8e8e8;
  margin-top: 40px;
  margin-bottom: 0;
}
.cv_item {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #f0e5e5;
  margin-top: 10px;
}
.cv_link {
  text-decoration: none;
  color: #f7c9a5;
  cursor: pointer;
}

/* Right Side */
.cv_right-side {
  flex-grow: 1;
  /* max-width: 550px; */
  /* width: 75%; */
  border-right: #faf5f1 1px solid;
  border-radius: 0 8px 8px 0;
  color: #161e27;
  padding: 20px 35px 0;
  background: #faf5f1;
}
.cv_header-profession {
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  color: #161e27;
  margin-top: 10px;
}
.cv_header-name {
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
  color: #161e27;
  /* margin-top: 40px; */
}
.cv_main {
  margin-top: 50px;
  margin-bottom: 40px;
}
.cv_main-head {
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  color: #161e27;
  margin-top: 40px;
}
.cv_main-desc {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #161e27;
  /* margin-top: 10px; */
}

.cv_item--right {
  color: #161e27;
}
.cv_link--right {
  text-decoration: none;
  color: #52504e;
  font-weight: 600;
  cursor: pointer;
}
.cv_link--project {
  color: #f09e5c;
}

/* Footer */
.cv_footer {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  justify-content: space-between;
  height: 30vh;
}
.cv_footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.cv_rs-logo {
  width: 130px;
}
.cv_footer-github {
  /* display: flex; */
}
.cv_footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  text-decoration: none;
  color: #52504e;
  font-weight: 600;
  cursor: pointer;
}
.cv_footer-desc {
  font-size: 14px;
}
.cv_hg-logo {
  width: 35px;
  margin-bottom: 5px;
}
.cv_footer-date {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0;
}

/* Visually hidden */
.cv_visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
